* {
    font-family: Garamond, serif;
    width: 100%;
    padding: 0;
    margin: auto;
}

#BigHeader::after {
  content: "";
  clear: both;
  display: table;
}

#BigHeader {
  height: 100px;
  background-color: #4559eb;
}

#Main_Title {
  padding-left: 10px;
  color: #eee;
  position: relative;
  font-size: 60px;
  bottom: -45px;
}

#Locations {
  box-sizing: border-box;
  width: 180px;
  margin: 0 10px;
  padding: 0;
  font-size: 120%;
  position: relative;
  bottom: -3px;
  float: right;
}

.Location {
  text-align: center;
  display: inline-block;
  padding: 2px;
  width: 80px;
  background-color: #bad2ff;
}

#SearchBar {
  width: 190px;
  margin: 0 5px;
  padding: 2px 2px 2px 6px;
  font-size: 120%;
  background-color: #eee;
  position: relative;
  bottom: -2px;
  float: right;
}

#CenterMain {
  box-sizing: border-box;
  padding: 5px;
}

aside {
  position: relative;
  width: 185px;
  float: left;
  padding: 0;
}

main {
  position: relative;
  width: 700px;
  float: right;
}

.MainFirstTwoLines {
  box-sizing: border-box;
  width: 700px;
  height: 230px;
  margin-bottom: 5px;
}

.MainBlockLight {
  box-sizing: border-box;
  font-size: 35px;
  text-align: center;
  display: inline-block;
  width: 230px;
  height: 230px;
  padding: 80px 0;
  background-color: #4559eb;
  color: #eee;
}

.MainBlockDark {
  box-sizing: border-box;
  font-size: 35px;
  text-align: center;
  display: inline-block;
  width: 230px;
  height: 230px;
  padding: 80px 0;
  background-color: #4235bd;
  color: #eee;
}

.MainBlockRect {
  box-sizing: border-box;
  font-size: 35px;
  text-align: center;
  display: inline-block;
  width: 347px;
  height: 115px;
  padding: 38px 0;
  background-color: #4559eb;
  color: #eee;
}

#MyPost {
  box-sizing: border-box;
  width: 100%;
  height: 230px;
  margin: 0;
  border: solid #bad2ff;
  padding: 0;
}

#MyAccount {
  box-sizing: border-box;
  background-color: #bad2ff;
  font-size: 80%;
  width: 100%;
  padding: 2px;
  padding-top: 20px;
}

#MyPostTitle {
  padding: 2px;
  font-size: 140%;
}

.MyPostLinks {
  padding-left: 20px;
}

#PostButton {
  color: #eee;
  text-align: center;
  font-size: 200%;
  box-sizing: border-box;
  background-color: #4235bd;
  width: 175px;
  position: relative;
  bottom: -49px;
}

#Calendar {
  box-sizing: border-box;
  margin-top: 5px;
  width: 100%;
  height: 170px;
  border: solid #bad2ff;
}

#CharityButton {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  position: relative;
  background-color: #bad2ff;
  padding-top: 15px;
  bottom: -78px;
}